[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TeamViewer 11
Comment=TeamViewer Remote Control Application
Exec=/opt/teamviewer/tv_bin/script/teamviewer
Icon=teamviewer
Type=Application
Categories=Network;
#Categories=Network;RemoteAccess;
StartupWMClass=Wine
