[Desktop Entry]
Version=1.0
Type=Application
Name=elementary+ Configurator
Icon=preferences-desktop
Exec=/usr/bin/elementaryplus-configurator
NoDisplay=false
Categories=Utility;
StartupNotify=true
Terminal=false

