[Desktop Entry]
Version=1.0
Name=elementary+ Configurator
Comment=Beautify your elementary!
Exec=elementaryplus-configurator
Icon=preferences-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
X-GNOME-Gettext-Domain=elementaryplus-configurator
